NODE_ENV=development
PORT=5000
DATABASE_URI=YOUR_MONGODB_CONNECTION_URL
BCRYPT_SALT_ROUND=12
DEFAULT_PASS=default_pass_123
ADMIN_PASSWORD=default_pass_123
JWT_ACCESS_SECRET=6745b6eds82c849c9ff4ac0b469ad8f670a10370bbb684a3a0a18eaaa2
JWT_REFRESH_SECRET=6745b6eds82c849c9ff4ac0b469ad8f670a10370bbb684a3a0a18eaaa2
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=60d

SP_ENVIRONMENT=sandbox
SP_ENDPOINT=https://sandbox.shurjopayment.com
SP_USERNAME=sp_sandbox
SP_PASSWORD=pyyk97hu&6u6
SP_PREFIX=SP
SP_RETURN_URL=<YourFrontendURL>/payments/verify


NODE_ENV=development
PORT=5001
DATABASE_URL=mongodb+srv://cars-DB:carsDB@cluster0.x9xlpou.mongodb.net/cars-DB?retryWrites=true&w=majority&appName=Cluster0
BCRYPT_SALT_ROUND=11
DEFAULT_PASS=default_pass_123
ADMIN_PASSWORD=default_pass_123
JWT_ACCESS_SECRET=6776be41524a2c8447a5a6513517c629caa8194a3be35625cca206ed4d2bfd8cbe77e476687f04fe136d0916ff725df1889122be4b13b3c3123b833b661bd1fe
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=60d
JWT_REFRESH_SECRET=b9e5c20a2e1b4b6bec4ccf99f513a47dcb676f0f94882d3a8d94f95ae747b4c0e36b515b98aaf462ff76c459e46e1cc41726a9fd5ff51ae289a2f05d6b9d1183

SP_ENVIRONMENT=sandbox
SP_ENDPOINT=https://sandbox.shurjopayment.com
SP_USERNAME=sp_sandbox
SP_PASSWORD=pyyk97hu&6u6
SP_PREFIX=SP
SP_RETURN_URL=https://car-management-omega-gules.vercel.app/order/verify