NODE_ENV=development
PORT=5000
DATABASE_URI=YOUR_MONGODB_CONNECTION_URL
BCRYPT_SALT_ROUND=12
DEFAULT_PASS=default_pass_123
ADMIN_PASSWORD=default_pass_123
JWT_ACCESS_SECRET=6745b6eds82c849c9ff4ac0b469ad8f670a10370bbb684a3a0a18eaaa2
JWT_REFRESH_SECRET=6745b6eds82c849c9ff4ac0b469ad8f670a10370bbb684a3a0a18eaaa2
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=60d

SP_ENVIRONMENT=sandbox
SP_ENDPOINT=https://sandbox.shurjopayment.com
SP_USERNAME=sp_sandbox
SP_PASSWORD=pyyk97hu&6u6
SP_PREFIX=SP
SP_RETURN_URL=<YourFrontendURL>/payments/verify
